[SddmGreeterTheme]
Name=CrossWorlds
Author=JoacoSlime
Copyright=(c) 2025, JoacoSlime
License=CC-BY-SA
Type=sddm-theme
Version=0.1
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=JoacoSlime@proton.me
Theme-Id=crossworlds
Theme-API=2.0
QtVersion=6
